$color-darker: #4C4B57; 
$color-dark: #848396;
$color-grey: #A6A4BD;
$color-light: #BCBAD6;
$color-lighter: #C7C5E3;

/*pc resolutions*/
$laptop-lg: 1500px;
$laptop: 1280px;

/*mobile resolutions*/
$ipadpro: 1024px;
$tablet: 768px;
$surface-duo: 540px;
$small: 360px;
$smaller: 280px;